# Lambda School Data Science Module 124

## Introduction to Bayesian Inference

### 1) In your own words, summarize the difference between Bayesian and Frequentist statistics.

Bayesian statistics is using prior information or knowledge or evidence to assign a probability to future events. This is useful when an event cannot be tested or trialed multiple times. Freuqentists can test events over and over in order to get results and probabilities they are looking for.

###For questions 2) - 8) use the following information:

Let A be the event of surviving the sinking of the Titanic and B be the event of being a 1st class passenger.

In [1]:
import pandas as pd
import numpy as np


data_url = 'https://raw.githubusercontent.com/Chelsea-Myers/Lambda-Intro/master/Titanic.csv'

df = pd.read_csv(data_url, skipinitialspace=True, header=0)

print(df.shape)
df.head()

(887, 8)

   Survived  Pclass  ... Parents/Children_Aboard     Fare
0         0       3  ...                       0   7.2500
1         1       1  ...                       0  71.2833
2         1       3  ...                       0   7.9250
3         1       1  ...                       0  53.1000
4         0       3  ...                       0   8.0500

[5 rows x 8 columns]

In [24]:
# Crosstab for 2) - 8)
pd.crosstab(df['Survived'], df['Pclass'], margins=True)

Pclass      1    2    3  All
Survived
0          80   97  368  545
1         136   87  119  342
All       216  184  487  887

2) Calculate P(A) = P(Surving)

In [25]:
### YOUR CODE HERE'
P_A = 342/887
print(P_A)

0.3855693348365276

3) Calculate P(B) = P(Being a 1st class passenger)

In [26]:
### YOUR CODE HERE
P_B = 216/887
print(P_B)

0.24351747463359638

4) Calculate P(A $\cap$ B) = P(Being a 1st class passenger and surviving)

In [27]:
### YOUR CODE HERE
P_AB = 136/887
print(P_AB)

0.15332581736189402

5) Calculate P(A|B) = P(Surviving given that the person was a 1st class passenger)

In [28]:
### YOUR CODE HERE
P_A_given_B = P_AB/P_B
print(P_A_given_B)

0.6296296296296297

6) Calculate (B|A) = P(Being a first class passenger given the person survived)

In [30]:
### YOUR CODE HERE
P_B_given_A = P_AB/P_A
print(P_B_given_A)

0.39766081871345027

7) Show that 

$$P(A|B) = \frac{P(A \cap B)}{P(B)}$$

with the numbers you calculate above.

In [31]:
### YOUR CODE HERE
P_A_given_B = P_AB/P_B
print(P_A_given_B)

0.6296296296296297

8) Show that 

$$P(A|B) = \frac{P(B|A)P(A)}{P(B)}$$

with the numbers you calculated above.

In [32]:
### YOUR CODE HERE
P_A_given_B_alt = (P_B_given_A*P_A) / P_B
print(P_A_given_B_alt)

0.6296296296296297

###Use the following information to answer questions 9) - 11) 

Assume that the passengers on the Titanic are representative of all individuals traveling from Western Europe to the United States in the early 20th century.

Let's use the Titanic data sample to estimate the mean fare paid by all individuals traveling from Western Euorpe to the United States during that time.

9) Use a 95% frequentist CI to estimate the mean fare paid by individuals traveling from Western Europe to the US in the early 20th century.

Interpret your confidence interval.

In [22]:
### YOUR CODE HERE
from scipy import stats
import numpy as np

stats.t.interval(alpha=0.95, df=886, loc=df['Fare'].mean(), scale=(df['Fare'].std()/np.sqrt(887)))

(29.02482490325031, 35.586015457516254)

The mean fare paid lies somewhere between 29 and 36 dollars.

10) Use a 95% Bayesian CI to determine the distribution of the fare paid by individuals traveling from Western Europe to the US in the early 20th century.  Interpret your results

In [23]:
### YOUR CODE HERE
stats.bayes_mvs(df['Fare'], alpha=0.95)

(Mean(statistic=32.30542018038331, minmax=(29.024824903250337, 35.58601545751628)),
 Variance(statistic=2483.858450355689, minmax=(2262.747559034253, 2726.2430731483255)),
 Std_dev(statistic=49.824230556814946, minmax=(47.568346187714496, 52.213437668365835)))

We recieve th same interval.

#Portfolio Project Assignment

Watch the Porfolio Project websites mini-lecture: https://www.youtube.com/watch?v=gxbNCGERUjc&feature=youtu.be&ab_channel=LambdaSchool


Begin to set up your own Portfolio Project website.